@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif !important;
}

.outer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  height: 100vh;
  width: 100vw;
  background-color: #a9c0ff;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7ea0ff; 
  border-radius: 1rem;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9c0ff; 
  border-radius: 1rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9c0ff; 
  border-radius: 1rem;
}




 /* width */
#textbox::-webkit-scrollbar {
  width: 7px;
}

/* Track */
#textbox::-webkit-scrollbar-track {
  background: #6e6f6e; 
  border-radius: 1rem;

}
 
/* Handle */
 #textbox::-webkit-scrollbar-thumb {
  background: #9a9b9a; 
  border-radius: 1rem;

}

/* Handle on hover */
#textbox::-webkit-scrollbar-thumb:hover {
  background: #9a9b9a; 
  border-radius: 1rem;
}

#wavesurfer-ID > wave{
  overflow: hidden !important;
}


.chatBody{
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatBody::-webkit-scrollbar-track {
  background: #a9c0ff; 
  border-radius: 1rem;

}
 
/* Handle */
 .chatBody::-webkit-scrollbar-thumb {
  background: #2962ff; 
  border-radius: 1rem;

}

/* Handle on hover */
.chatBody::-webkit-scrollbar-thumb:hover {
  background: #2962ff; 
  border-radius: 1rem;
}

[id^=wavesurfer] > wave{
  overflow: hidden !important;
}
#wavesurfer-preview > wave{
  display: none !important; 
  overflow: hidden !important;
}

#wavesurfer-preview :last-child {
  display: block !important; 
}

.timer{
  position: absolute;
  bottom: 150%;
  background: red;
  font-size: 12px;
  padding: 0.3rem 0.9rem;
  border-radius: 10rem;
  display: flex;
  scale: 0.9;
  justify-content: center;
  align-items: center;
}
.timer::before{
  content: "\A";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent red transparent transparent;
  position: absolute;
  top: 88%;
  scale: 0.9;
  rotate: 270deg;
}

/*  authetication */
.authentication{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
.authentication-left{
  width: 40%;
  background-color: #2962ff;
  height: 100%;
  display: grid;
  place-items: center;

  .image{
    background-image: url('./assets/authentication-bg.jpg');
    background-size: cover;
    height: 70%;
    width: 70%;
    border-radius: 1rem;

  }
}
.authentication-right{
  width: 60%;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

 
  .right-inner{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .app-name{
    font-weight: 600;
    font-size: 1.2rem;
    color: #2962ff;
    margin-bottom: 20px;
  }

  .heading{
    font-weight: 500;
    margin-bottom: 10px;
  }

  .heading-info{
    color:#9b9b9b;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 30px;
  }
  
  .authentication-label{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color:#4f4f4f;
  }
  
  .authentication-input{
    padding: 0.6rem;
    outline: none;
    border: 2px solid #cdcdcd;
    font-size: 13px;
    border-radius: 0.6rem;
    width: 100%;
    margin-bottom: 14px;
    color: #4f4f4f;
    font-weight: 400;
    background-color: #E8F0FE;
  }
  .remember-me{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  .remember-me-text, .forgot-password-text{
    margin-left: 6px;
    color: #4f4f4f;
    font-size: 12px;
    margin-right: auto;
    font-weight: 500;
  }
  .forgot-password-text{
    margin: 0;
    color:#2962ff;
    cursor: pointer
  }
}

.loading-button{
  background-color:#2962ff;
  opacity: 0.6;
}

.signin-button{
  background-color:#2962ff;
  border-radius: 0.6rem;
  margin-bottom: 10px;
  text-transform: none;
  width: 100%;

  .button-loader{
    color: white;
  }
  
  &:hover{
    background-color:#2962ff;
  }
}
.google-signin-button{
  background-color:#fff;
  border-radius: 0.6rem;
  color: #4f4f4f;
  border: 2px solid #cdcdcd;
  width: 100%;
  text-transform: none;

  &:hover{
    background-color:#fff;
  }
}
.google-icon{
  width: 1.275rem;
  margin-right: 0.25rem;
}

.user-name{
  display: flex;
  gap: 1rem;
.first-name, .last-name {
  display: flex;
  flex-direction: column;
}
}
}

.password-box{
  // background-color: #E8F0FE;
  display: flex;
  border: 2px solid #cdcdcd;
  align-items: center;
  border-radius: 0.6rem;
  margin-bottom: 14px;
  background-color: #E8F0FE;
}

.password-input{
  padding: 0.6rem;
  outline: none;
  border: none;
  font-size: 13px;
  border-radius: 0.6rem;
  flex-basis: 100%;
  background-color: #E8F0FE;
  color: #4f4f4f !important;
  font-weight: 400;
}

.validation-form{
  .errorPara{
  margin-bottom: 10px;
    font-size: 12px;
    margin-top: -8px;
    color: red;
}
.errorPara::before {
  display: inline;
  content: "⚠ ";
}
}
.go-to-signup{
  font-size: 13px;
  position: absolute;
  bottom: 3%;
  transform: translateX(50%);
  right: 50%;
  width: max-content;

  span{
    color: #2962ff ;
    font-weight: 500;
    margin-left: 0.3rem;
    cursor: pointer;
  }
}
.slide-routes{
  position: absolute;
    width: 100%;
    height: 100%;

    // .forward-exit-active, .back-exit-active{
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   top: 0;
    //   left: 0;
    //   transform: translateX(0) !important;
    // }
    // .forward-enter-active, .back-enter-active{
    // z-index: 10;
    
    // }
}

.slide-routes > .item {
position: absolute;
height: 100%;
width: 100%;
}

.info-drawer{
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  background: #d4e0ff;
  width: 40%;
  transition: 0.3s ease-in-out;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .profile-pic{
    background-color: grey;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 100rem;
    margin-top: 20px;
    border: 3px solid #2962ff;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      object-fit: cover;
    }

    .edit-pic{
      border-radius: 10rem;
      background-color: #fff;
      display: flex;
      height: 35px;
      width: 35px;
      justify-content: center;
      position: absolute;
      align-items: center;
      right: 10px;
      bottom: 0;
      border: 2px solid #2962ff;
      cursor: pointer;
      
      .edit-icon{
        color:#2962ff
      }
    }
  }
  
  .profile-detail{
    align-self: flex-start;
    width: 100%;
    padding: 0 20px 0 20px;

    .profile-detail-input{
      border: 1px solid #2962ff;
      color: #2962ff;
      outline: none;
      border-radius: 5px
    }
    .edit-profile-detail{
      border: 2px solid #2962ff;
      background-color: white;
      color: #2962ff;
      border-radius: 10rem;
      padding: 2px;
    }

    .icon{
      color: #2962ff;
    }
    .name-box , .status-box{
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 25px;
      
      .name{
        color: #2962ff;

        h4{
          font-weight: 600;
          font-size: 14px;
        }
        p{
          font-size: 15px;
        }

        .name-or-input-parent{
          position: relative;

          .input-div{
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 2px;
          }
        }
      }

      // .edit-pic{
      //   margin-left: auto;
      //   cursor: pointer
      // }
      .accept-reject-icon{
        display: flex;
        margin-left: auto;
        gap: 5px;
      }
      .edit-name-container{
        border-radius: 10rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        border: 2px solid #2962ff;
        cursor: pointer;
        position: relative;
        margin-left: auto;
        color:#2962ff;

        
        .icon{
          height:18px;
          width:18px;
        }
        .icon{
          height:18px;
          width:18px;

        }
      }
    }
  }


}
.info-drawer.active{
  transform: translateX(0%);
}
.back-drop{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  background-color: rgba(0,0,0,0);
  transition: 0.3s ease-in-out;
}
.back-drop.active{
  background-color: rgba(0,0,0,0.4);
  pointer-events: all; 
}
.menu-parent{
  position: relative;
.menu{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100px;
  max-height: 0px;
  background-color: #a9c0ff;
  position: absolute;
  top: 105%;
  right: 0;
  transition: 0.5s ;
  overflow: hidden;
  border-radius: 5px;

  .menu-items{
    color: #2962ff;
    font-weight: 400;
    font-size: 14px;
    padding: 0px 10px ;
    cursor: pointer;
    transition: 0.3s;
    

  &:nth-child(1){
    padding-top: 10px;
  }
  &:nth-child(2){
    padding-bottom: 10px;
  }

  &:hover{
     transform: translateX(5%);
  }
  
  }
}

.menu.active{
  max-height: 300px;
  transition:  0.5s ;

}
}

